 div.box { 
      background: khaki;
      color: darkgreen;
      font-family: sans-serif; 
      margin: 4px;
      padding: 4px;
      border: solid 2px teal;
   
      }
      iframe {
      	width: 90%;
      	height: 75%; 
      	margin: 4px;
        padding: 4px;
       border: solid 2px teal;
      }