{relx, [
  {release, {hty, "0.7.1"}, [hty]},
  {dev_mode, true},
  {include_erts, false},
  {extended_start_script, true}
]}.

{escript_main_app, hty}.
{escript_name, "htyserve"}. % name of final generated escript
{escript_incl_apps, []}. % apps (other than the main one and its deps) to be included
{escript_emu_args, "%%! -escript main hty_main\n"}. % emulator args
{escript_shebang, "#!/usr/bin/env escript\n"}. % executable line
{escript_comment, "%%\n"}. % comment at top of escript file
